<a class="corner pull-right" href="https://www.youtube.com/watch?v=CEfaIlzki5U">Watch a video introduction!</a>
<div class="jumbotron">
    <div class="row">
        <img class="logo" src="/static/img/bleve.png"/><h2 class="header">Bleve Text Analysis Wizard</h2>
    </div>

    <div class="row col-sm-10 col-sm-offset-1">
        <p/>
        <p>To get high quality search results, you must choose the right analyzer for your source text.  To better understand how your text will be analyzed, try it out using the form below.</p>
        <p/>
    </div>
    <div class="row">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="inputSuccess3">Analyzer</label>
                <div class="col-sm-3">
                    <select ng-model="selectedAnalyzer" ng-change="analyzerChanged()" id="analyzerInput" class="form-control">
                        <option ng-repeat="analyzer in analyzers">{{analyzer}}</option>
                    </select>
                </div>
                <div class="col-sm-7">
                    <div class="input-group">
                        <input ng-model="txt" ng-trim="false" type="text" placeholder="text to analyze" class="form-control">
                        <span class="input-group-btn">
                            <button ng-click="analyzeText()" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-play"></span> Analyze</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div align="right">
        <h6 class="">Powered by <a target="_blank" href="https://github.com/blevesearch/bleve/tree/v2.5.4">bleve@v2.5.4</a></h6>
        <button ng-show="hasCustomMappings" class="btn btn-default pull-right btn-xs" ng-click="exportSource('lg')">Export Custom Mapping</button>
    </div>
</div>

<div class="container">
    <div ng-show="results" ng-include src="'/static/partials/analysis/results.html'"/>
        <div ng-show="building" ng-include src="'/static/partials/analysis/building.html'"/>
        </div>
    </div>
</div>

<div class="footer" align="center">
    <hr>
    <img width="20" height="20" src="/static/img/couchbase.png"/>
    <h5 class="header">© 2025 Couchbase, Inc.</h5>
</div>
