<h3>Build Custom Tokenizer</h3>

<div ng-show="tokenizer.errorMessage" class="alert alert-danger ng-cloak" role="alert"> {{tokenizer.errorMessage}}
</div>

<form class="form" role="form">
	<div class="form-group">
		<label for="tokenizerName">Name</label>
			<input ng-model="tokenizer.name" type="text" class="form-control" id="tokenizerName" placeholder="Tokenizer Name">
	</div>

	<div class="form-group">
			<label for="tokenizertype">Type</label>
			<div class="col-sm-12 input-group">
			<select ng-change="tokenizerTypeChange()" ng-model="tokenizer.type" class="form-control" id="tokenizertype">
	    		<option ng-repeat="tokenizerTyp in tokenizerTypes">{{tokenizerTyp}}</option>
	    	</select>
		</div>
	</div>

	<div ng-show="tokenizer.type" ng-include src="tokenizer.formpath"/>

	<button ng-click="buildTokenizer()" type="button" class="btn btn-default pull-right">Build</button>

</form>