<div class="form-group">
    <label for="charfilterRegexp">Regular Expression</label>
    <input ng-model="charfilter.config.regexp"
           type="text"
           class="form-control"
           id="charfilterRegexp"
           placeholder=""
           data-ng-trim="false">
</div>

<div class="form-group">
    <label for="charfilterReplace">Replacement</label>
    <input ng-model="charfilter.config.replace"
           type="text"
           class="form-control"
           id="charfilterReplace"
           placeholder=""
           data-ng-trim="false">
</div>
