	<div class="form-group">
		<label for="tokenfilterLang">Language</label>
			<select class="form-control" id="tokenfilterLang" ng-model="tokenfilter.config.lang">
				<option>danish</option>
				<option>dutch</option> 
				<option>english</option> 
				<option>finnish</option> 
				<option>french</option> 
				<option>german</option> 
				<option>hungarian</option> 
				<option>italian</option> 
				<option>norwegian</option> 
				<option>porter</option> 
				<option>portuguese</option> 
				<option>romanian</option> 
				<option>russian</option> 
				<option>spanish</option> 
				<option>swedish</option> 
				<option>turkish</option>
			</select>
	</div>